awsebcli==3.19.4
botocore==1.20.64
cement==2.8.2
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
colorama==0.4.3
Flask==2.0.1
Flask-PyMongo==2.3.0
future==0.16.0
idna==2.10
importlib-metadata==4.6.1
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
MarkupSafe==2.0.1
pathspec==0.5.9
pymongo==3.12.0
pypiwin32==223
python-dateutil==2.8.1
pywin32==300
PyYAML==5.3.1
requests==2.25.1
semantic-version==2.8.5
six==1.14.0
termcolor==1.1.0
typing-extensions==3.10.0.0
urllib3==1.25.11
wcwidth==0.1.9
Werkzeug==2.0.1
zipp==3.5.0
